#root {
  height: 100%;
  width: 100%; 
}

main {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%; 
}

.results {
  flex: 1;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.search {
  min-height: 3rem;
  display: flex;
  width: 100%;
}

input {
  height: 3rem;
  width: 100%;
  font-size: large;
  padding: .25rem;
}

.next-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

button {
  height: 50px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.placeholder {
  min-height: 200px;
  background: #3b3b3b;
  border: 2px solid white;
}

img.loading {
  display: none;
}