#root {
  height: 100%;
  width: 100%; 
}

main {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%; 
}

.results {
  flex: 1;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.search {
  min-height: 3rem;
  display: flex;
  width: 100%;
}

input {
  height: 3rem;
  width: 100%;
  font-size: large;
  padding: .25rem;
}